domain_trans(init, rootfs, cpboot-daemon)
domain_trans(init, cpboot-daemon_exec, cpboot-daemon)
domain_trans(init, gpsd_exec, gpsd)

# /dev/block/mmcblk0p[0-9]
allow init emmcblk_device:blk_file rw_file_perms;

allow init block_device:lnk_file { setattr };
allow init tmpfs:lnk_file create_file_perms;

# /data
allow init sdcardd_exec:file r_file_perms;

#============= init ==============
allow init device:fifo_file create;
allow init input_device:chr_file ioctl;
allow init servicemanager:binder call;
allow init servicemanager:binder transfer;
allow init shell_exec:file execute_no_trans;
allow init system_file:file execute_no_trans;
allow init tee_device:file { read getattr open execute execute_no_trans };
allow init default_android_service:service_manager add;
allow init debugfs:dir mounton;

# LD_SHIM_LIBS
allow init gpsd:process { noatsecure };
allow init mediaserver:process { noatsecure };
