/dev/mali0                0666   system     system
/dev/ion                  0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0660   system     graphics
/dev/video6               0660   media      media
/dev/video7               0660   media      media
/dev/video8               0660   media      media
/dev/video9               0660   media      media
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video3               0660   system     camera
/dev/video11              0660   system     system
/dev/video12              0660   system     system
/dev/video13              0660   system     system
/dev/video14              0660   system     system
/dev/video20              0660   system     system
/dev/fimg2d               0666   system     graphics
/dev/i2c-2                0660   system     system
/dev/CEC                  0660   system     system
/dev/HPD                  0660   system     system

# ULP Audio
/dev/srp                  0660   system     audio
/dev/srp_ctrl             0660   system     audio

# media0 is used for GSC, DECON, etc
/dev/media0               0660   system     camera
/dev/media1               0660   system     camera
/dev/media2               0660   media      media

# Various devices use the v4l-subdev interface
# We declare all such nodes simultaneously here
/dev/v4l-subdev*          0660   system     camera

# gscalers
/dev/video23              0660   media      graphics
/dev/video26              0660   media      graphics
/dev/video24              0660   media      graphics
/dev/video27              0660   media      graphics

# mscalers
/dev/video50              0660   media      graphics
/dev/video51              0660   media      graphics
/dev/video52              0660   media      graphics

# mfc
/dev/video6               0660   media      media
/dev/video7               0660   media      media
/dev/video8               0660   media      media
/dev/video9               0660   media      media

# mfc 1
/dev/video66              0660   media      media
/dev/video67              0660   media      media
/dev/video68              0660   media      media
/dev/video69              0660   media      media

# jpeg
/dev/video12              0660   media      media

# mixer
/dev/video16              0660   system     audio
/dev/video17              0660   system     system
/dev/video18              0660   system     system
/dev/video19              0660   system     system

# gscalers
/dev/video23              0660   media      graphics
/dev/video26              0660   media      graphics

/dev/video24              0660   media      graphics
/dev/video27              0660   media      graphics

# scalers
/dev/video50              0660   media      graphics
/dev/video51              0660   media      graphics
/dev/video52              0660   media      graphics

# camera
/dev/video100             0660   media      media
/dev/video101             0660   media      media
/dev/video102             0660   media      media
/dev/video103             0660   media      media
/dev/video104             0660   media      media
/dev/video105             0660   media      media
/dev/video106             0660   media      media
/dev/video107             0660   media      media
/dev/video108             0660   media      media
/dev/video109             0660   media      media
/dev/video110             0660   media      media
/dev/video111             0660   media      media
/dev/video112             0660   media      media
/dev/video114             0660   media      media
/dev/video115             0660   media      media
/dev/video116             0660   media      media
/dev/video130             0660   media      media
/dev/video134             0660   media      media
/dev/video137             0660   media      media
/dev/video140             0660   media      media
/dev/video141             0660   media      media
/dev/video146             0660   media      media
/dev/video149             0660   media      media

/dev/block/mmcblk0p13     0660   system     radio
/dev/umts*                0660   system     radio

# MobiCore
/dev/mobicore             0700   system     system
/dev/mobicore-user        0666   radio     system

# Secure MEM driver
/dev/s5p-smem             0660   system     system

# vfs
/dev/vfsspi        0660   system     system

/dev/block/mmcblk0p8      0660   system     system
# sensor sysfs properties
/sys/devices/virtual/input/input*	poll_delay	0660	system	radio
/sys/devices/virtual/input/input*	enable		0660	system	radio
# Sensorhub IIO
/dev/ssp_sensorhub        0660   system     system
/dev/iio:device*          0660   system  system
/sys/devices/12d20000.spi/spi_master/spi0/spi0.0/iio:device*    buffer/enable       0660    system    system
/sys/devices/12d20000.spi/spi_master/spi0/spi0.0/iio:device*    buffer/length       0660    system    system
/sys/bus/iio/devices/iio:device*    0664   system     radio
